:root {
  --primary-color: #ff4081;
  --white-color: #fff;
  --light-color: #fafafa;
  --dark-color: #333;
  --success-color: #28a745;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--light-color);
  position: relative;
}

/* .logo {
  height: 100px;
  margin: 1rem 0;
  margin-right: 450px;
} */


.toggle-button{
  width: 3rem;
  padding: 0 0.3rem;
  /* background: -webkit-linear-gradient(45deg, #87ae20, #3b8e39);
  background: linear-gradient(45deg, #87ae20, #3b8e39); */
  background-color: azure;
  border: none;
  top: 10.5%;
  left: 3.5%;
  position: absolute;
  z-index: 8;
  cursor: pointer;
}

.toggle-button__bar{
  width: 100%;
  height: 0.2rem;
  background: var(--primary-color);
  display: block;
  margin: 0.6rem 0;
}

.sideDrawer-button{
  position: fixed;
  background-color: #fff;
  z-index: 8;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 0.5rem;
}

@media only screen and (min-width: 600px) {
  .toggle-button__bar {
    display: none;
  }

  .sideDrawer-button { 
    display: none;
  }
}

.sideDrawer-logo {
  width: 30%;
  margin: 0 auto;
}

.sideDrawer-logo img {
  width: 100%;
  height: 100%;
  display: block;
}

.main-nav__mobile{
  /* background: -webkit-linear-gradient(45deg, #4ff26a, #55c668);
  background: linear-gradient(45deg, #4ff26a, #55c668); */
  background-color: azure;
  
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 11;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 1rem 0;
  z-index: 10000000;
  overflow-x: hidden;
}

.main-nav__mobile a{
  border-bottom: 1px solid #35442d;
  width: 100%;
  padding: 1rem;
  text-align: left;
  text-decoration: none;
  color: var(--primary-color);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-weight: 400;
  font-size: 20px;
  display: block;
}

.mobile-nav__items{
  margin-top: 2rem;
}

.closing-button{
  font-size: 42px;
  position: absolute;
  top: 0;
  right: 15px;
}

.closing-button a{
  border-bottom: none;
  font-size: 42px;
}

#navbar-toggle {
  position: absolute;
  top: 45px;
  right: 30px;
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--primary-color);
  border: none;
  outline: none;
  background-color: var(--light-color);

}

.navbar{
  display: none;
}

@media only screen and (min-width: 600px) {
  .navbar {
    display: flex;
    padding: 1.5rem 2rem;
    width: 100%;
  }

  .brand {
    width: 20%;
    margin-right: auto;
  }

  .brand-logo {
    width: 100%;
  }

  .navbar ul {
    display: flex;
    list-style: none;
  }
}

.navbar ul li a {
  color: #333;
  font-size: 1.2rem;
  border-bottom: 3px solid transparent;
  text-decoration: none;
}

.navbar ul li:not(:last-child) {
  margin-right: 1rem;
}

/* .navbar ul li a:hover {
  opacity: 0.9;
  color: var(--primary-color);
} */

.navbar ul li a.current {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.navbar ul li a:hover {
  border-color: var(--light-color);
  color: var(--primary-color);
}


.container {
  display: block;
  padding: 6rem 2rem 2rem 2rem;
}

.container-text {
  width: 100%;
 text-align: center;
}

.container-img {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .container {
    display: flex;
    padding: 2rem 4rem;
  }
  
  .container-text {
    width: 40%;
    margin-right: auto;
  }
  
  .container-img {
    width: 55%;
  }
}

.container-img img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  display: block;
}

.container h1 {
  font-family: Great Vibes, cursive;
  color: var(--primary-color);
  font-size: 3.7rem;
}

.container h3 {
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.container p {
  font-family: Montserrat, sans-serif;
}

.btn {
  display: block;
  background: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #fff;
  padding: 12px 30px;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 10px;
  border-radius: 5px;
}

.desc {
  display: block;
  padding: 2rem 2rem;
}

.desc-text {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.desc-text h1 {
  font-family: Great Vibes, cursive;
  color: var(--primary-color);
  font-size: 3.7rem;
  text-transform: capitalize;
}

.desc-text p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.desc-img {
  width: 100%;
}

.desc-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 600px) {
  .desc {
    display: flex;
    padding: 2rem 4rem;
  }
  
  .desc-text {
    width: 40%;
    margin-right: auto;
    margin-bottom: 0;
  }
  
  .desc-text h1 {
    font-family: Great Vibes, cursive;
    color: var(--primary-color);
    font-size: 3.7rem;
    text-transform: capitalize;
  }
  
  .desc-text p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  
  .desc-img {
    width: 55%;
  }
}

#c {
  padding: 3rem 4rem;
  text-align: center;
}

#c.img {
  flex: 1;
  width: 600px;
  height: 600px;
}

.cake {
  display: flex;
  margin-top: 1.5rem;
  justify-content: center;
}

.cake-img {
  width: 20%;
  text-align: center;
}

.cake-image {
  height: 200px;
  margin-bottom: 0.5rem;
}

.cake-img p {
  font-size: 2rem;
  color: var(--primary-color);
}

.cake-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#contact-us {

  position: relative;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 37, .4)), url("../img/m_chocolate-cake-on-chopping-board-2067396.jpg") no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  padding: 75px 10px;
}


#contact-us h1 {
  font-family: Great Vibes, cursive;
  color: var(--primary-color);
  font-size: 3.7rem;
  text-align: center;
}

/* Forms */
.form-group {
  margin: 1.2rem 0;
}

.form-group input {
  margin: 0.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;

}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],

.form select,
.form textarea {
  display: block;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  transition: all .3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  color: #fff
}

.form ::placeholder {
  color: #ccc
}

.form-container {
  max-width: 400px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
}

.button {
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 17px;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  padding: 15px 5px;
  transition: all .3s;
  margin-top: -4px;
  font-weight: 700;


}

footer {
  background: rgb(0, 0, 0);
  padding: 2.5rem 1.5rem;
}

.footer {
  display: block;
}

.footer-div {
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
}

.footer-div img {
  width: 100%;
  object-fit: cover;
}

.footer-div p, h3 {
  color: #bbb7b7;
}

.footer-div h3 {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.contact {
  margin-bottom: 0.2rem;
}

.contact span {
  display: inline-block;
  vertical-align: middle;
}

.contact-icon {
  margin-right: 0.3rem;
}

.contact-icon i {
  color: var(--primary-color);
}

.contact-text {
  font-size: 0.9rem;
}

.lead p {
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.social {
  margin-top: 0.5rem;
}

.fa-envelope {
  display: block;
}


.fab {
  margin-right: 1rem;
  border: 2px var(--primary-color) solid;
  border-radius: 30%;
  padding: 0.5rem;
  color: #bbb7b7;
}

.watermark {
  color: #bbb7b7;
  text-align: center;
  margin-top: 2rem;
}

@media only screen and (min-width: 600px) {
  .footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer-div {
    width: 45%;
    text-align: left;
  }

  #footer-last {
    margin: 0.5rem auto;

  }
  
  .footer-div img {
    width: 100%;
    object-fit: cover;
  }
  
  .footer-div p, h3 {
    color: #bbb7b7;
  }
  
  .footer-div h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .contact {
    margin-bottom: 0.5rem;
  }
  
  .contact span {
    display: inline-block;
    vertical-align: middle;
  }
  
  .contact-icon {
    margin-right: 0.3rem;
  }
  
  .contact-icon i {
    color: var(--primary-color);
  }
  
  .lead p {
    line-height: 1.5rem;
  }
  
  .social {
    margin-top: 0.5rem;
  }

  .fa-envelope {
    display: block;
  }
  
  
  .fab {
    margin-right: 1rem;
    border: 2px var(--primary-color) solid;
    border-radius: 30%;
    padding: 0.5rem;
    color: #bbb7b7;
  }
  
  .watermark {
    color: #bbb7b7;
    text-align: center;
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 780px) {
  .footer-div {
    width: 30%;
  }
}
/* padding */
/* .py {
  padding: 0.3rem 0;
}

.py2 {
  padding: 0.8rem 3rem;
}

.py3 {
  padding: 3rem 0;
}

.py4 {
  padding: 4rem 0;
} */

/* Margin */
/* .my {
  margin: 1rem 0;
}

.my2 {
  margin: 2rem 0;
} */



/* .lead {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  text-align: center;
} */

#login {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  padding: 35px 35px 65px;
  box-sizing: border-box;
  margin-bottom: 2rem;

}

#promo {
  display: flex;
  margin: auto;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  background-color: var(--white-color);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  padding: 35px 35px 65px;
}

.login {
  /* padding: 5rem 10rem; */
  margin-bottom: 10rem;
}

.login-form {
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
  width: 20%;
  height: 300px;
  padding: 2.5rem 3rem;
  margin: 0 auto;
}

.login-form__heading {
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.is-invalid {
  border-bottom: 1px solid red !important;
}

.login-form__group:not(:last-child) {
  display: flex;
  padding: 0 0.5rem;
  width: 100%;
  background: #d4d4d1;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid #333;
}

.login-form__group .fa {
  width: 5%;
  margin-right: auto;
  align-self: center;
}

.fa-eye-slash {
  cursor: pointer;
}

.login-form__group .login-form__group--input {
  width: 92%;
  font-size: 1rem;
  color: black;
  padding: 0.5rem 0;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
}

.login-form__group .login-form__group--btn {
  width: 100%;
  color: #fff;
  background: var(--primary-color);
  border: none;
  padding: 0.5rem 0;
  cursor: pointer;
  border-radius: 16px;
  font-size: 1rem;
  transition: all 0.3s;
}

.login-form__group .login-form__group--btn:hover {
  opacity: 0.7;
}

.input-invalid:-moz-ui-invalid,
.input-invalid:invalid,
.input-invalid::placeholder {
  opacity: 1;
  color: var(--primary-color);
}

#login h1 {

  font-family: sans-serif;
  color: var(--dark-color);
  font-size: 1.6rem;
  text-align: center;
  padding-top: 2rem;
  background-color: #fafafa;

}

#login .form input[type='text'],
#login .form input[type='email'],

.form input[type='password'] {
  font: inherit;
  background: var(--light-color);
  color: currentColor;
  border: none;
  outline: none;
  padding: 0.5rem 3.3rem;
  margin: 0;
  border-bottom: 3px solid transparent;
  border-color: #f44336;
  background-color: #ccc;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;


}

.pricing {
  padding: 15px 25px;
  display: block;
}

.card {
  width: 100%;
  box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 2.5rem;
  padding-bottom: 1rem;
  border-radius: 8px;
  overflow: hidden;
} 

.cardImg {
  width: 100%;
  height: 250px;
}

.cardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 600px) {
  .pricing {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    width: 45%;
  } 
  
  .cardImg {
    width: 100%;
    height: 250px;
  }
  
  .cardImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (min-width: 780px) {
  .card {
    width: 32%;
  } 

}

@media only screen and (min-width: 1120px) {
  .card {
    width: 22%;
  } 

}


.layout {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  padding: 0 0.5rem;
  font-family: "Montserrat", sans-serif;
}

.layout p {
  font-size: 0.9rem;
}

.layout p:not(:last-child) {
  margin-right: auto;
}

.layout p:nth-child(2) {
  color: var(--primary-color);
}

.cardBtn {
  padding: 0 0.5rem
}

.bttn {
  background: var(--primary-color);
  text-align: center;
  color: #fff;
  font-size: 1rem;
  margin-top: 1rem;
  outline: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  width: 100%;
}

.btttn {
  background: var(--primary-color);
  color: #fff;
  width: 40%;
  margin: 0 auto;
  margin-top: 1rem;
  outline: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: none;
}

.pricing-heading {
  text-align: center;
  font-family: Great Vibes, cursive;
  text-transform: capitalize;
  font-size: 3rem;
  color: var(--primary-color);
}

.cta-btn {
  padding: 12px 30px;
  font-size: 20px;
}

.modal-content__image {
  width: 100%;
  height: 400px;
  padding: 1.5rem 0.5rem 0 0.5rem;
  margin-bottom: 0.4rem;
}

.modal-content__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-content .modalDesc {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  text-transform: capitalize;
  /* font-family: "Montserrat", sans-serif; */
  color: var(--primary-color);
}

.modal-content h2 {
  color: #242222;
  font-size: 1.2rem;
  text-transform: capitalize;
  /* font-family: "Montserrat", sans-serif; */
}

.modal-content p {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  /* font-family: "Montserrat", sans-serif; */
}

.modal-content span {
  color: var(--primary-color);
}

/* .modal-form input[type='text'],
.modal-form input[type='tel'],
.modal-form input[type='quantity'] {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 100%;
  padding: .4375em 0;
  border: none;
  border-width: 100%;
  border-bottom: 1px solid black;
} */
.modal-form {
  margin-top: 1.3rem;
}

.modal-formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.modal-formGroup input {
  border: none;
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 0.4rem;
  font-size: 1rem;
  color: #3f3d3d;
}

.modal-formGroup input:focus {
  border-bottom-color: rgb(32, 143, 143);
}

.modal-formGroup input::placeholder {
  font-size: 1rem;
}

.itemQty {
  display: flex;
  width: 50%;
}

.itemQty #quantity {
  width: 100%;
  color: var(--dark-color);
  border: 1px solid var(--primary-color);
  padding: 0.1rem 0.4rem;
}

.qtyBtn {
  cursor: pointer;
  color: var(--primary-color);
}

.increase {
  margin-left: 0.2rem;
}

.decrease {
  margin-right: 0.2rem;
}

.modal-container.show-modal {
  display: flex;
}

.pricingBackdrop, .backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, .8);
  z-index: 1000;
}

.show-backdrop {
  display: block;
}

.modal {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  opacity: 0;
  visibility: hidden;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
  overflow-y: scroll;
  z-index: 10000;
  transition: all .8s;
  font-family: "Montserrat", sans-serif;
}

.display-modal {
  opacity: 1;
  visibility: visible;
  top: 50%;
}

@media only screen and (min-width: 600px) {
  .modal {
    width: 70%;
    height: 70%;
  }
}

@media only screen and (min-width: 780px) {
  .modal {
    width: 60%;
    height: 80%;
  }
}

@media only screen and (min-width: 1120px) {
  .modal {
    width: 45%;
    height: 80%;
  }
}

.modal-content {
  padding: 1rem 1.5rem 2.5rem 1.5rem;
}

.close-btn {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 2%;
  right: 2%;
  color: var(--primary-color);
  outline: none;
  border: none;
}

/* @media(max-width:900px) {
  .navbar {
    display: flex;
    justify-content: space-around;


  }

  .logo {
    height: 60px;
    margin: 0.5rem auto;
    margin-top: 1.5rem;

  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 3rem;
  }

  .cakee {
    width: 100%;
  }

  .imgg {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .btn {
    margin-top: 1.5rem;
  }

  #a.img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 10rem;
  }

  .imgg {
    display: flex;
    justify-content: center;
  }

  #c {
    margin: 0 auto;
  }

  .cake {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1.5rem auto;
  }

  .img {
    width: 300px;
    height: 300px;
  }



  .footer {
    display: block;

  }

  .fas {
    display: block;
    text-align: center;

  }

  .footer p,
  .social {
    margin-bottom: 3rem;
  }

  .logoo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

  }

  .login-form {
    width: 30%;
    margin-top: 2rem;
  }

  #promo {
    width: 100%;
    border-radius: 5px;
  }

  .form input[type='text'],
  .form input[type='email'],
  .form input[type='submit'],
  .button {
    padding: 13px;
    margin-bottom: 13px;
    width: 75%;
    margin: 0 auto;
  }




  .form textarea {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
    height: 150px;
  }



} */

/* @media (max-width: 700px) {

  .navbar {
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 100;
   transform: translatey(-100%);
} 
  .toggle {
    position: absolute;
    top: 20px;
    left: 130px;
    width: 50px;
    display: block;

  }

  .navbar.show-modal {
    display: block;
  }

  .logo {
    height: 50px;
    margin: 1.5rem auto;
    ;
  }


  .navbar ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
    display: none;
  }

  .navbar ul li {

    padding: 20px;
  }



  .navbar ul li a {
    color: var(--primary-color);
    text-decoration: none;
  }

  nav ul li a:hover {
    background-color: var(--primary-color);
    color: var(--white-color)
  }




  .container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 3rem;
  }


  .btn {
    margin-top: 1.5rem;
  }

  #a.img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 10rem;
  }

  .imgg {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .cakee {
    width: 400px;
    height: 500px;
    margin: 0 auto;

  }

  .flex {
    display: block;
    margin-top: 2rem;
  }

  .flex h1 {
    text-align: center;
    ;

  }

  .flex p {
    text-align: center;
    margin: 0 auto;
    padding: 0.5, 1.5rem;
  }

  .cake {
    display: block;

    margin: 0 auto;
    width: 100%;

  }

  .cake img {
    width: 250px;
    ;
  }

  .footer {
    display: block;
    width: 100%;


  }

  .fas {
    display: block;
    text-align: center;

  }

  .footer p,
  .social {
    margin-bottom: 3rem;
  }

  .logoo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .form input[type='text'],
  .form input[type='email'],
  .form input[type='submit'],
  .button {
    padding: 13px;
    margin-bottom: 13px;
    width: 100%;
    margin: 0 auto;
  }




  .form textarea {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
    height: 150px;
  }

  .img {

    width: 400px;
    height: 400px;
    margin-top: 1rem;
  }

  #promo {
    width: 100%;
    border-radius: 5px;
  }

  .pricing {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .card {
    margin: 1.2rem auto;
    width: 100%;
    height: 100%;
  }

  .login-form {
    width: 40%
  }

} */